# Write to SQL

In [1]:
import pandas as pd
import psycopg2 as pg
from creds import *

Setting up a helper function to keep code dry

In [2]:
def db_query(table_name):
    ''' Given a table name, return back all columns and all rows for that table'''
    try:
        conn = pg.connect(host=the_host, database=the_database, user=the_user, password=the_password)
        curs = conn.cursor()
        curs.execute(f"""SELECT *FROM {table_name};""")
        datum = curs.fetchall()
        conn.close()
        return datum
    except psycopg2.IntegrityError as e:
        print(e)

Below we take a table of data, hit an api and then insert it into a database

## Create Tables

In [3]:
data = db_query('todays_trends')
class_event_df = pd.DataFrame(data, columns=['trend', 'today_date'])
class_event_df.head(3)

   trend  today_date
0  first  2020-03-14

#### SQL

In [4]:
# 1. Remove duplicate rows with Distinct
conn = pg.connect(host=the_host, database=the_database, user=the_user, password=the_password)
curs = conn.cursor()
curs.execute("""
SELECT DISTINCT *
FROM todays_trends;
""")
datum = curs.fetchall()
conn.close()
pd.DataFrame(datum, columns=['trend', 'todays_date']).sort_values('todays_date')

   trend todays_date
0  first  2020-03-14

---

----

---